pre, textarea.edit {
  border: 1px solid #ededed;
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;   
  padding: 24px;
  margin: 0;
  line-height: 1.7;
}

pre.prettyprint {
  border: 1px solid #ededed ! important;
  padding: 24px ! important;
}

pre.executable {
  margin-bottom: 0 ! important;
  cursor: pointer;
}

.result-wrapper {
  background-color: #eee;
  padding: 24px;
  margin-bottom: 24px;
}

.result-wrapper .result {
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;   
}

.result p {
  margin: 0 ! important;
}

.result p span.brighter {
  color: #3E8FE7;
  -webkit-user-select: none;
}

.result p.error {
  color: red;
}

textarea.edit {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
}